body {
    background-image: url("green_background.jpg");
    background-size: cover;
}

#canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
